<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538014732775-o1tnsvu22r3366aqc39oqokakv9pugk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538014732775-o1tnsvu22r3366aqc39oqokakv9pugk0</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ2qoPOerdrDtdBSIy0Yo-FHgoGp_oNKk</string>
	<key>GCM_SENDER_ID</key>
	<string>538014732775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ocwang.SnapClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-20a88</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-20a88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:538014732775:ios:d718ad32758a3ba0</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatclone-20a88.firebaseio.com</string>
</dict>
</plist>